.venv/
__pycache_/
*.pyc

# Ignore generated data
data/models/*
data/outputs/*
data/processed/*
data/raw/cereal_filtered.zip
pipeline.log

# Keep folder structure
!data/models/.gitkeep
!data/outputs/.gitkeep
!data/processed/.gitkeep
!data/raw/

